<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container2">
        <h1>Update List</h1>
        <form action="{% url 'updatelist' val.id %}" method="post">
            {% csrf_token %}
            <label for="">Title</label><br><br>
            <input type="text" name="first" value="{{val.title}}"><br><br>
            <label for="">Description</label><br><br>
            <textarea type="text" name="second" value="{{val.description}}"></textarea><br><br>
            <label for="">Due-date</label><br><br>
            <input type="date" name="third" value="{{val.due_date}}"><br><br>
            <button type="submit" id="new1">Update</button>
        </form>

    </div>
</body>

</html>